<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Thank You For Being A Friend.</title>
  <!-- CSS Stylezz -->
  <link rel="stylesheet" href="/assets/css/style.css">
  <!-- Javascriptses -->
  <script src="/vendor/js/phaser.js"></script>
  <script src="/vendor/js/phaser-kinetic-scrolling-plugin.js"></script>
  <script src="/assets/js/main.js"></script>
</head>
<body>
  <div class="wrapper">
    <header>
      <h1>This is a game!!</h1>
    </header>
    <section>
    <!-- This is where the game'll go! :D -->
      <div id="game-container"></div>
    </section>
    <footer>
      <p>Info about us</p>
    </footer>
  </div>
</body>
</html>